doctype html
html
  head
    title Detalles del Alumno
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css")
  body(class="bg-gray-100 font-sans p-4")
    div(class="container mx-auto")
      h1(class="text-4xl font-bold mb-4") Detalles del Alumno
      p(class="text-lg mb-2") Nombre: #{alumno.nombre}
      if alumno.materia 
        p Materia: #{alumno.materia}, Nota: #{alumno.nota}
      a(href="/" class="block text-blue-500 hover:underline") Volver a la Lista
